* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


header {
    background-color:#EAC926;
    display: flex; 
    
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb; 
    margin: 0;
    
}


h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

#search-bar {
    position: relative;
    width: 50%;
    margin: 8px;
    top: 10%;
    bottom: 10%;
    display: block;
   
}

.container {
    width: 90%;
    margin: auto;
}

.container nav{
    font-size: 12px;
    margin-left: 20px;
}

.caja1 {
display: flex;
}



div.burger-menu {
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #1259c3;
    padding: 5px 10px;
    border-radius: 3px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    
}

main {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border: 3px solid #ebebeb;
    padding: 15px;
    box-sizing: content-box;
}

.banner {
    width: 100%;
}


.precios {
    font-size: 18px;
    color: #39b54a;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.product-info {
    display:flex;
}

.descripciones {
    font-size: 16px;
    color: #666;
}

.footer-icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer {
    text-align: center;
}

.copyright {
    color: #666;
}
